require 'spec_helper'

describe <%= app_name.camelize %>::Application do
  describe '#exec' do
    it 'executes application' do
      stdout = capture_stdout do
        <%= app_name.camelize %>::Application.exec
      end
      expect(stdout).to match /Commands:/
    end
  end
end
