# <%= app_name.camelize %>
module <%= app_name.camelize %>
  # Command
  #
  # Application command
  module Command
    # Base command
    #
    # General command
    class Base < Thor
      map '-v' => :version

      desc 'version, -v', 'Show <%= app_name.camelize %> version.'
      # @return [String] the test message
      def version
        say "<%= app_name.camelize %> version #{<%= app_name.camelize %>::VERSION}", :yellow
      end
    end
  end
end
